@charset "UTF-8";

:root {
    --cor01: #114753;
    --cor02: #D0D962;
    --cor03: #2B2A24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionado para melhor controle de layout */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    color: var(--cor03); /* Adicionado para garantir contraste de texto */
    line-height: 1.6; /* Melhorando a legibilidade */
}

header {
    background-image: linear-gradient(to top, var(--cor02), var(--cor03));
    color: white;
    text-align: center;
    padding: 20px; /* Aumentado para melhor espaçamento */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionado sombra para destaque */
}

nav {
    background-image: linear-gradient(to bottom, var(--cor02), transparent);
    padding: 15px; /* Aumentado para melhor espaçamento */
    text-align: right;
}

nav a {
    text-decoration: none;
    color: var(--cor01);
    margin-left: 20px;
    transition: color 0.3s ease, background-color 0.3s ease; /* Transições mais suaves */
    font-weight: bold;
    font-size: 1em;
}

nav a:hover {
    color: var(--cor02);
    background-color: rgba(43, 42, 38, 0.6); /* Usando rgba para controle de opacidade */
    padding: 5px; /* Adicionado padding para melhor efeito visual */
    border-radius: 5px; /* Adicionado para suavizar bordas */
}

main {
    background-color: white;
    text-align: justify;
    line-height: 1.8; /* Ajustado para melhor legibilidade */
    min-width: 400px;
    max-width: 1080px;
    margin: 20px auto; /* Adicionado margem superior e inferior */
    padding: 20px; /* Adicionado padding para espaçamento interno */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Adicionado sombra para destaque */
}

main h1,  h2 {
    color: var(--cor01);
    background-color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px 0; /* Adicionado padding para espaçamento */
}
aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
}


aside>h3{
    background-color: var(--cor02);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;


}
aside a{
    text-decoration: none;
    color: white;

}
aside p{
    color: var(--cor02);

}

main > p {
    text-align: center;
    margin-bottom: 20px; /* Adicionado margem inferior para espaçamento entre parágrafos */
    
}
main h2{
    background-color: var(--cor02);
    color: white;
}
main h1{
    background-color: var(--cor02);
}
footer{
    color: white;
    text-align: center;
    
}
.evento{
    background-color: var(--cor01);
    color: white;
}
.noticias{
    background-color: var(--cor01);
    color: white;

}
