@charset "UTF-8";

@font-face {
    font-family: PassionOne;
    src: url('fontes/PassionOne.ttf')
    format(truetype);
     
    
}
@font-face {
    font-family: Sriracha;
    src: url('fontes/Sriracha-Regular.ttf')
    format(truetype);
}
:root{
    --font1:Verdana , Geneva , Tahoma , Sans-serif;
    --font2: 'PassionOne' , Cursive ;
    --font3:'Sriracha', Cursive;
}

*{
    margin: 0px;
    padding: 0px;
    
}
html , body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font1);

}
header , footer{
    background-color: black;
    text-align: center;
    color: white;
    font-family: var(--font2);
}
header h1{
    padding-top:  50px; ;
    font-variant: small-caps;
    font-size: 10vw;
}
header p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgba(170, 169, 169, 0.329);
}
section{
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 1px black;
    color: white;
}
section p{
    padding-bottom: 10px;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgb(51, 51, 51);
}
#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}
#img02{
    background-image: url('imagens/background002.jpg');
    background-position:right center;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    padding: 10px;
}
